@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url(../css/index.css);
@import url(../css/produto.css);
@import url(../css/produtos.css);
@import url(../css/sobre.css);
@import url(../css/login.css);

:root {
    --cor-destaque: #D42D66;
    --cor-destaque-2: #d42d652c;
    --cor-destaque-hover: #bd1d55;
}

.bg-btn-destaque {
    background-color: white;
}

.bg-btn-destaque:hover {
    background-color: rgb(239, 239, 239);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* chack */
#modo-noturno.form-check-input:checked {
  background-color: #D42D66;
  border-color: #D42D66;
}

#modo-noturno.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #d42d65a5;
  border-color: #D42D66;
}

.cor-destaque {
    color: var(--cor-destaque);
}

.bg-cor-destaque {
    background-color: var(--cor-destaque);
}

.logoGiuCake {
    width: 32px;
}

.activeIcon {
    position: relative;
}

.activeIcon::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 13px;
    width: 5px;
    height: 5px;
    border-radius: 32px;
    background-color: var(--cor-destaque);
}

.h1 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: var(--cor-destaque);
}

.h5 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-destaque);
}

.btn-destaque {
    background-color: transparent;
    border: 2px solid var(--cor-destaque);
    color: var(--cor-destaque);
    font-weight: 500;
    transition: .3s ease;
}

.btn-destaque:hover {
    background-color: var(--cor-destaque-hover);
    color: white;
    transition: .3s ease;
}

.btn-destaque2 {
    background-color: var(--cor-destaque);
    color: white;
    font-weight: 500;
    transition: .3s ease;
}

.btn-destaque2:hover {
    background-color: var(--cor-destaque-hover);
    color: white;
    transition: .3s ease;
}

.personIcon {
    color: var(--cor-destaque);
    border-radius: 100%;
    width: 36px;
}

.nav-link.active {
    color: var(--cor-destaque) !important;
    font-weight: 500;
}

footer {
    background-color: var(--cor-destaque);
    color: white;
    padding: 20px 0;
}

.link-footer {
    color: white;
    text-decoration: none;
}


/* produtos */
.produtos>a {
    text-align: center;
    scale: 1;
    transition: scale .3s ease;
}

.produtos>a:hover {
    scale: 1.02;
    transition: scale .3s ease;
}


/* ! tela inteira */
.page-wrapper {
    min-height: 90vh;
    /* faz com que o conteúdo ocupe a altura total da tela */
    display: flex;
    flex-direction: column;
}

.page-wrapper>.flex-grow-1 {
    flex: 1;
    /* o conteúdo se expande até empurrar o footer */
}