:root {
    --border-pink-light: #FFAEC9;
    --shadow-circulo: rgba(255, 4, 146, 0.2) 0px 0px 24px;
}

[data-bs-theme="dark"] {
    --border-pink-light: #ff3572;
    --shadow-circulo: rgba(255, 4, 146, 0.4) 0px 0px 24px;
}

.circulo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid var(--border-pink-light);
    box-shadow: var(--shadow-circulo);
    ;
}