.bg-destaque {
    background-color: var(--cor-destaque-2);
}

.timeline-item {
    padding-left: 20px;
    margin-bottom: 30px;
}

.team-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}



/* timeline */
.timeline {
    position: relative;
    padding: 2rem 0;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background: var(--bs-border-color);
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    margin: 2rem 0;
}

.timeline-item:nth-child(odd) {
    text-align: right;
}

.timeline-item:nth-child(even) {
    text-align: left;
}

.timeline-item .timeline-dot {
    position: absolute;
    top: 0;
    left: 50%;
    width: 16px;
    height: 16px;
    background: var(--cor-destaque);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.timeline-item .timeline-content {
    display: inline-block;
    padding: 1rem;
    background: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-content {
    max-width: 600px;
}